.hero {
  z-index: -1;
  background-color: #3d3d3d;
  width: 100%;
}

.heroContainer {
  position: relative;
  max-width: 768px;
  width: 100%;
  height: 500px;
  margin: auto;
  img {
    height: 100%;
  }
}

.mainText {
  position: absolute;
  top: 47%;
  left: 50%;
  color: white;
  text-align: center;
  transform: translateX(-50%);

  p {
    font-size: 16px;
  }
}

.subText {
  position: absolute;
  top: 70%;
  right: 36%;
  color: #91dcff;
  font-size: 16px;
}

.card {
  cursor: pointer;
}

@media all and (max-width: 576px) {
  .heroContainer {
    height: 250px;
  }
}
