.commentInputContainer {
  border: 1px solid var(--mantine-color-gray-5);
  border-radius: 5px;
  div:has(> input) {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid var(--mantine-color-gray-5);
  }
  textarea {
    font-size: 14px;
    padding: 6px;
    min-height: 60px;
    height: 60px;
  }
  button {
    background: var(--mantine-color-gray-3);
    padding: 0;
    width: 24px;
    height: 24px;
    display: block;
    margin: 4px 4px 4px auto;
  }
  button:hover {
    background: var(--mantine-color-gray-4);
  }
}

.commentNameInput {
  font-size: 14px;
  padding: 0px 6px;
  min-height: 30px;
  height: 30px;
}

.commentNameInputError {
  font-size: 11px;
}

.postContentContainer {
  font-size: 16px;
  img {
    display: block;
    max-height: 70vh;
    border-radius: 5px;
    margin: 20px auto;
  }
}
