.navbar {
  position: sticky;
  background-color: #797979;
  z-index: 99;
}

.homeNavbar {
  transition: background-color 0.3s ease;
  position: fixed;
}

.navbarTransparent {
  background-color: transparent;
}
