@font-face {
  font-family: caveat;
  font-weight: 400;
  src: url(./assets/Caveat-Regular.ttf);
}

@font-face {
  font-family: LXGW;
  font-weight: 400;
  src: url(./assets/LXGWWenKaiTC-Regular.ttf);
}

:root {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  word-break: break-all;
}

div:has(main) {
  min-height: calc(100vh - 58.19px);
  height: 100%;
}

main {
  height: 100%;
  flex-grow: 1;
  max-width: 768px;
  width: 100%;
  margin: auto;
}

